services:
#  minio:
#    image: minio/minio:latest
#    container_name: minio
#    environment:
#      MINIO_ROOT_USER: "minioadmin"
#      MINIO_ROOT_PASSWORD: "minioadmin"
#    volumes:
#      - ./minio-data:/data
#    ports:
#      - 9000:9000
#      - 9001:9001
#    command: server /data --console-address :9001

  keycloak-web:
    image: quay.io/keycloak/keycloak:26.3.0
    ports:
      - 8084:8080
    environment:
      KC_BOOTSTRAP_ADMIN_USERNAME: "admin"
      KC_BOOTSTRAP_ADMIN_PASSWORD: "admin"
    command: start-dev
