spring:
  application:
    name:blob-service
  config:
    import: optional:configserver:http://localhost:8888
  servlet:
    multipart:
      max-file-size: 50MB
      max-request-size: 50MB
server:
  port: ${SERVER_PORT}
minio:
  endpoint: localhost
  port: 9000
  accessKey: minioadmin #Login Account
  secretKey: minioadmin # Login Password
  secure: false
  bucket-name: images # Bucket Name
  image-size: 10485760 #  Maximum size of picture file = 10MB
  file-size: 104857600 #  Maximum file size = 100MB

eureka:
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true