spring:
  cloud:
    gateway:
      routes:
        - id: blob-service
          uri: lb://blob-service
          predicates:
            - Path=/api/v1/storage/**
        - id: post-service
          uri: lb://post-service
          predicates:
            - Path=/api/v1/posts/**
        - id: vote-service
          uri: lb://vote-service
          predicates:
            - Path=/api/v1/votes/**
        - id: service_registry
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/main
          filters:
            - SetPath=/
        - id: service_registry-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**
server:
  port: 8080


management:
  endpoints:
    web:
      exposure:
        include: "*"