spring:
  cloud:
    gateway:
      routes:
        - id: blob-service
          uri: lb://blob-service
          predicates:
            - Path=/api/v1/storage/**
        - id: post-service
          uri: lb://post-service
          predicates:
            - Path=/api/v1/posts/**
        - id: vote-service
          uri: lb://vote-service
          predicates:
            - Path=/api/v1/votes/**
        - id: service_registry
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/main
          filters:
            - SetPath=/
        - id: service_registry-static
          uri: http://localhost:8761
          predicates:
            - Path=/eureka/**
server:
  port: 8080


management:
  endpoints:
    web:
      exposure:
        include: "*"
  endpoint:
    health:
      show-details: always
  heath:
    circuitbreakers:
      enabled: true

resilience4j:
  circuitbreaker:
    instances:
      socialMediaBreaker:
        registerHealthIndicator: true
        slidingWindowSize: 10
        minimumNumberOfCalls: 5
        permittedNumberOfCallsInHalfOpenState: 3
        waitDurationInOpenState: 10s
        failureRateThreshold: 50
        automaticTransitionFromOpenToHalfOpenEnabled: true
        slidingWindowType: count_based
