spring:
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: post
server:
  port: ${SERVER_PORT}

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7
