spring:
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: votes
server:
  port: ${SERVER_PORT}

logging:
  file:
    name: logs/${spring.application.name}.log
  logback:
    rollingpolicy:
      max-file-size: 5MB
      max-history: 7

mmanagement:
  endpoints:
    web:
      exposure:
        include: "*"
