spring:
  application:
    name: vote-service
  config:
    import: optional:configserver:http://localhost:8888
  data:
    mongodb:
      uri: ${MONGO_URI}
      database: post

server:
  port: ${SERVER_PORT}

eureka:
  instance:
    hostname: localhost
  client:
    serviceUrl:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true